/* Catppuccin Latte (Light Mode) */
:root {
    --bg-color: #eff1f5;
    --text-color: #4c4f69;
    --accent-color: #1e66f5;
    --card-bg: #e6e9ef;
    --shadow: #d7dce8;
    --subtext: #6c6f85;
    --highlight: #fcfcfc;
}

/* Catppuccin Mocha (Dark Mode) */
[data-theme="dark"] {
    --bg-color: #1e1e2e;
    --text-color: #cdd6f4;
    --accent-color: #89b4fa;
    --card-bg: #313244;
    --shadow: #2a293a;
    --subtext: #a6adc8;
    --highlight: #393a4f;
}
